* 
{
	margin: 0;
	padding: 0;
}	
html {
	color: $color-greyButton;
	@include font();
}
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
	display: block;
}
a {
	color: $color-greyButton;
	text-decoration: none;
}
img {
	width: 100%
}
table {
	border-collapse: collapse;
	border: none;
}
input, textarea, keygen, select, button {
	@include font($font-regular, 16px, 24px)
}
.hidden {
  display: none;
}
