$color-white: #fff;
$color-whiteOpacity: rgba(255, 255, 255, .7);
$color-lightgrayFon: #f1f1f1;
$color-lightgray: #cacaca;
$color-gray: #8d8d8d;
$color-black: #000;
$color-greenText: rgba(70, 193, 174, 1);
$color-lightgrayBorder: #ececec;
$color-greyBorder: #c7c7c7;
$color-greenBorder: #62d1ba;
$color-leftgreen: #63d1bb;
$color-leftgreenHover: #59d5bc;
$color-rightgreen: #56c3b2;
$color-rightgreenHover: #46c1ae;
$color-greyButton: #444444;
$color-greyArrow: #666666;
$color-lightgrey: #b2b2b2;
$color-lightgreyIcon: #d3d2d2;
$color-greyIcon: #cccccc;
$color-greenIcon: #3bb09d;

$width-tablet: (min-width: 768px);
$width-desktop: (min-width: 1150px);

