.block-about-us {
	padiing-top: 25px;
}
.block-about-us__wrapper {
	display: flex;
	flex-direction: column;
}
.block-about-us__list {
	list-style-type: none;
}
.block-about-us__item {
	margin-bottom: 25px;
	svg {
		fill: $color-leftgreen;
		margin-bottom: 20px;
	}
	p {
		color: $color-black;
		@include font($font-bold, 17px, 20px);
	}
}
.block-buttons__button {
	border: 1px solid $color-greyButton;
	display: block;
	@include font($font-bold, 18px, 25px);
	padding: 25px;
	text-align: center;
	text-transform: uppercase; 
}

@media #{$width-tablet} {	
	.block-about-us {
		padding-top: 50px; 
	}	
	.block-about-us__wrapper {
		flex-direction: row;
	}
	.block-about-us__item {
		margin: 0 25px 50px 0; 
		p {
			font-size: 20px;
			line-height: 22px; 
		}
	}
}