.catalog {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 30px; 
}
.catalog__unit {
	border: 1px solid $color-lightgrayBorder;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}
.catalog__link {
	display: block;
}
.catalog__product-name {
	color: $color-black;
	@include font($font-bold, 17px, 24px);
	padding: 30px 0 25px;
}
.catalog__product-feature {
	@include font($font-regular, 13px, 30px);
	margin-bottom: 30px;
}
.catalog__block4 {
	border-top: 1px solid $color-lightgrayBorder;
	display: flex;
	justify-content: space-between;
	margin: 0 25px;
	padding: 25px 0;
	.catalog__cost {
		@include font($font-bold);
	}
	svg {
		fill: $color-greyIcon;
	}
}
.catalog__block2, .catalog__block3 {
	padding: 0 25px;
}

@media #{$width-tablet} {
.catalog {
	padding: 70px 50px 50px;
}
.catalog__unit {
	border: 1px solid $color-lightgrayBorder;
	flex-direction: row;
	margin-bottom: 50px;
}
.catalog__product-img {
	height: 380px;
	width: 380px;
}
.catalog__product-wrapper {
	display: flex;
	flex-direction: column;	
    justify-content: space-between;
}
.catalog__product-name {
	@include font($font-bold, 20px, 24px);
}
.catalog__product-feature {
	@include font($font-regular, 15px, 30px);
}
.catalog__block4 {
	.catalog__cost {
		@include font($font-bold, 17px, 24px);
	}
}
}
@media #{$width-desktop} {
.catalog {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 130px 50px 50px;
}
.catalog__unit {
	flex-direction: column;
	margin-bottom: 50px;
}

.catalog__product-img {
	height: 350px;
	width: 300px;
}
.catalog__product-wrapper {
	display: flex;
	flex-direction: column;	
    justify-content: space-between;
}
}

