.form {
	display: flex;
	flex-direction: column;
	padding: 30px;
}
.form__description {
	@include font($font-regular, 13px);
	margin-bottom: 25px;
}
.form__group {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: 1px solid $color-leftgreen;
	margin-right: 30px;
	padding: 30px 0;
}
.form__title {	
	@include font($font-bold, 17px, 16px);
	text-transform: uppercase;
}
.form__title--blue {
	color: $color-leftgreen;
}
.form__block {
	margin-bottom: 15px;
}
.form__group .form__block:last-child {
	margin-bottom: 0;
}
.form__block label {
	color: $color-black;	
	@include font($font-bold, 17px, 18px);
	margin-bottom: 10px;
}
.form__radio, .form__checkbox  {
	display: none;
}
.custom-radio label:before {
	content: " ";
	border: 10px solid $color-white;
	border-radius: 50%;
	box-shadow: 0 0 0 2px $color-gray;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 20px;
}
.form__radio:checked + label:before {
    background: $color-leftgreen;
    box-shadow: 0 0 0 2px $color-leftgreen;
}
.custom-checkbox label:before {
	content: " ";
	border: 2px solid $color-gray;
    display: inline-block;
    height: 36px;
    width: 36px;
    vertical-align: middle;
    margin-right: 20px;
}
.form__checkbox:checked + label:before {
    background: url(../img/icon-tick.svg) center center no-repeat;
    border: 2px solid $color-leftgreen;
}
.custom-text label {
	display: block;
}
.form__input-text, .form__phone, .form__email {
	border-bottom: 1px solid $color-black;
	border-left: none;
	border-right: none;
	border-top: none;
	padding-bottom: 15px;
	width: 100%;
}
.form__textarea {
	border: 1px solid $color-black;
	padding: 15px;
	width: 100%;
}
.form__footnote {
	@include font($font-regular, 14px, 16px);
	margin-bottom: 30px;
}
.form__submit {
	background: $color-white;
	border: 1px solid $color-greyButton;
	box-shadow: none;
	color: $color-greyButton;
	display: block;
	@include font($font-regular, 17px, 16px);
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.form__submit:hover {
	background: $color-white;
	border: 1px solid $color-greyButton;
	box-shadow: none;
}
@media #{$width-tablet} {
	.form {
		padding: 0;
	}
	.form__description, .form__group {
		border: none;
		margin-right: 0;
		padding: 50px;
	}
	fieldset:nth-of-type(4), fieldset:nth-of-type(5) {
		background: $color-lightgrayFon;
	}
	fieldset:nth-of-type(4){
		padding-bottom: 0;
	}
	fieldset:nth-of-type(2) {		
		background: $color-lightgrayFon;
		.custom-checkbox {
			margin-right: 50px;
		}
		.form__wrapper-checkbox {
			display: flex;
		}
	}
	.form__group-wrapper {
		display: flex;
	}
	.form__title{
		width: 175px;
	}
	.form__block-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.form__wrapper-checkbox .form__block-wrapper {
		width: auto;
	}
	.custom-text {
		display: flex;
		label {
			margin-right: 20px;
		}
	}
	.form__phone, .form__email {
		background: transparent;
	}
	.form__submit-wrapper {
		align-items: center;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;    
		padding: 0 50px 50px;
	}
	.form__description {
		@include font($font-regular, 17px, 30px);
		margin-bottom: 0;
	}
	.form__block label {
		@include font($font-bold, 19px, 18px);
	}
	.form__submit {
		@include font($font-regular, 17px, 16px);
		padding: 10px 30px;
	}
}
@media #{$width-desktop} {
	.form__wrapper-checkbox {
		flex-wrap: wrap;
		.form__block-wrapper {
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}
		.custom-checkbox {
			width: 33.333%;
		}
	}
}