.section-product__header.main-header {
	background: $color-lightgrayFon;
	height: auto;
	padding: 70px 0;
}
@media #{$width-tablet} {		
	.section-product__header.main-header {
		background: $color-lightgrayFon;
		height: auto;
		padding: 100px 0 80px; 
	}
}

@media #{$width-desktop} {		
	.section-product__header.main-header {
		height: auto;
	}
}

