.product {
	display: block;
	float: left;
	.product__image {
		margin-bottom: 25px;
	}
	.product__name {
		color: $color-black;	
		font-size: 1.5em;
		font-family: $font-bold;
	}
}
.product__feature {margin-bottom: 25px;}
.product__purchase {
	border-bottom: 1px solid $color-lightgrayBorder;
	padding-top: 25px;
	.product__cost {
		color: $color-black;
		font-family: $font-bold;
	}
	.product__cart {
		display: block;
	}
	svg {
		fill: $color-greyIcon;
	}
}
