.product {
	display: block;
	.product__image {
		margin-bottom: 25px;
	}
	.product__name {
		color: $color-black;	
		font-size: 17px;
		font-family: $font-bold;
	}
}
.product__feature {
	font-size: 13px;
	margin-bottom: 25px;
}
.product__purchase {
	border-bottom: 1px solid $color-lightgrayBorder;
	padding-top: 25px;
	.product__cost {
		color: $color-black;
		font-family: $font-bold;		
	}
	.product__cart {
		margin-left: 25px;
	}
	svg {
		fill: $color-greyIcon;		
	}
}
