.section-product__header {
	background: url(/img/hero-mobile@1x.jpg) top center no-repeat;
	height: 373px;
}
.section-product__title {
	color: $color-black;
	font-size: 2em;
	font-family: $font-bold;
	margin-top: 50px;
	text-align: center;
}
.section-product__menu {
	list-style-type: none;
}
.section-product__item {
	display: inline-block;
}
.section-product__link {
	display: block;
	color: $color-white;
	padding: 20px;
	svg {
		fill: $color-greenIcon;
	}
}
.section-product__link--left-green {
	background-color: $color-leftgreen;
}
.section-product__link--right-green {
	background-color: $color-rightgreen;
}
.section-product__link--left-green:hover {
	background-color: $color-leftgreenHover;
}
.section-product__link--right-green:hover {
	background-color: $color-rightgreenHover;
}	