.section-main-product__header {
	padding: 25px 0;
}
.section-main-product__name {
	color: $color-black;
	font-size: 25px;
	font-family: $font-bold;
}
.section-main-product__link {	
	color: $color-leftgreen;
	font-size: 17px;
	font-family: $font-bold;
	text-transform: uppercase;
}
.section-main-product__description p {
	margin-bottom: 15px;
}
.section-main-product__feature {
	margin-bottom: 25px;
	width: 100%;
}
.section-main-product__feature	td {
	border-bottom: 1px solid $color-lightgrayBorder;
	padding: 10px;
}
.section-main-product__item-first {width: 40%;}
.section-main-product__item-last {width: 60%;}	
.section-main-product__figcaption {padding: 25px 0 10px;}
.section-main-product__cost {
	font-size: 17px;
	font-family: $font-bold;
}