.slider-comment {
	padiing-top: 25px;
}
.slider-comment__text {
	margin-bottom: 25px;
}
.slider-comment__responded {
	color: $color-black;
	@include font($font-bold, 17px);
}
.slider-comment__buttons {
	display: flex;
	border: 1px solid $color-lightgrayBorder;
	justify-content: center;
	list-style-type: none;
	margin-bottom: 25px;
}
.slider-comment__button {
    width: 49.5%;
}
.slider-comment__prev, .slider-comment__next {
	display: block;
	padding: 20px;
}
.slider-comment__prev {
	border-right: 1px solid $color-lightgrayBorder;
}

@media #{$width-tablet} {
	.slider-comment {
		background: url(../img/review@1x.jpg) 0 0 no-repeat;		
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 50px 0 0 50px;
	}	
	.slider-comment__slider {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		order: 1;
	}
	.slider-comment__buttons {
		display: flex;
		border: 1px solid $color-lightgrayBorder;
		justify-content: center;
		list-style-type: none;
		margin-bottom: 25px;
	}
	.slider-comment__button {
		width: 49.5%; 
	}
	.slider-comment__prev, .slider-comment__next {
		display: block;
		padding: 20px; 
	}
	.slider-comment__prev {
		border-right: 1px solid $color-lightgrayBorder; 
	}
}
@media #{$width-desktop} {
	.slider-comment__slider {
		margin-left: 170px;
	}
}