.social {
	border-bottom: 1px solid $color-lightgrayBorder;
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0 25px;
}
.social__link {
	display: block;
	padding: 10px 20px;
}
@media (min-width: 768px) {
	.social {
		border-bottom: none;
		width: 33.333%;
		margin-bottom: 0;
     }
}
