.video {
	display: flex;
	flex-direction: column;
}
.video__header {
	display: flex;
	align-items: center;
	padding: 25px 30px;
	svg {
		fill: $color-leftgreen;
		margin-right: 25px;
	}
	.video__title {
		color: $color-black;
		@include font($font-bold, 17px, 24px);
	}
}
.video__play {
	display: flex;
	justify-content: center;
	align-items: center;
}
.video__image-play {
	position: absolute; 
}
.video__description {
	margin: 27px 35px 25px;
	p {
		@include font($font-regular, 13px, 24px);
	}
}
.video .block-buttons {
	margin: 0 25px 25px 25px;	
}
.video .block-buttons__button {
	@include font($font-bold, 17px, 16px);
	padding: 18px 20px;
}

@media #{$width-tablet} {
	.video__header {
		padding: 30px;
		.video__title {
			@include font($font-bold, 20px, 24px);
		}
	}
	.video__figure {
		order: -1;
	}
	.video__image-preview {
		height: 460px;
	}
	.video__description {
		margin: 0 35px 35px;
		p {
			@include font($font-regular, 15px, 30px);
		}
	}
	.video .block-buttons {
		margin: 0 40px 50px 40px; 
	}
}

@media #{$width-desktop} {
	.video {
		flex-wrap: wrap;
		height: 460px;
		width: 1050px;
	}
	.video__header {
		flex-direction: column;
		align-items: flex-start;
		padding: 45px 55px 30px 80px;
		width: 230px;
		svg {
			margin-bottom: 20px;
		}
	}
	.video__image-preview {
		height: 460px;
		width: 680px;
	}
	.video_figure {
		width: 680px;	
	}
	.video__description {
		width: 230px;
		padding: 0 55px 40px 80px;
	}

	.video .block-buttons {
		margin: 0 55px 40px 80px;
		width: 230px;
	}
}